<div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
        <li>
            <a href="javascript:;" class="open arrow active">
                <span class="title">Management</span>
                <span class="arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
            <ul class="sub-menu">
                <li class="">
                    <a id="menu-manage-bank-account" href="#">Customer Accounts</a>
                    <span class="icon-thumbnail">ma</span>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="open arrow active">
                <span class="title">Financial Transactions</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
            <ul class="sub-menu">
                <li class="">
                    <a id="menu-transactions-deposit" href="#">Deposit Cash</a>
                    <span class="icon-thumbnail">dc</span>
                </li>
                <li class="">
                    <a id="menu-transactions-withdraw" href="#">Withdraw Cash</a>
                    <span class="icon-thumbnail">wc</span>
                </li>
                <li class="">
                    <a id="menu-transactions-transfer" href="#">Transfer Funds</a>
                    <span class="icon-thumbnail">tf</span>
                </li>
                <li class="">
                    <a id="menu-transactions-history" href="#">Transaction History</a>
                    <span class="icon-thumbnail">th</span>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="open arrow active">
                <span class="title">Services</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
            <ul class="sub-menu">
                <li class="">
                    <a id="menu-services-account-info" href="#">Account Details</a>
                    <span class="icon-thumbnail">ad</span>
                </li>
                <li class="">
                    <a id="menu-services-cashbook-cards-request" href="#">Checkbook & Cards</a>
                    <span class="icon-thumbnail">cc</span>
                </li>
                <li class="">
                    <a id="menu-services-recurring-payments" href="#">Recurring Payments</a>
                    <span class="icon-thumbnail">rp</span>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="open arrow active">
                <span class="title">Security & Compliance</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-user"></i></span>
            <ul class="sub-menu">
                <li class="">
                    <a id="menu-accounts-chart" href="#">Setup 2F Auth</a>
                    <span class="icon-thumbnail">tf</span>
                </li>
            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>